<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Digital</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- CSS principal para estilizacao do projeto -->
    <link rel="stylesheet" href="../assets/css/main.app.css">
    
    <!-- CSS customizado para o formulario de login -->
    <link rel="stylesheet" href="../assets/css/floating-label.css">
</head>
<body>