/* Importacao de fontes direto no arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html, body {
    margin: 0;
    padding:0;
    height: 100%;
}

/* Adiciona uma cor diferente ao passar o mouse no menu de usuarios */
.dropdown-menu a:hover {
    color: #FFF;
    background-color: #35B9AB;
}

#digiteca {
    font-size: 1.5em;
    font-family: 'Karla', sans-serif;
}