/* Importacao de fontes direto no arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

/* Adiciona uma cor diferente ao passar o mouse no menu de usuarios */
.dropdown-menu a:hover {
    color: #FFF;
    background-color: #35B9AB;
}

#menu-login {
    background-color: #262E45;
    color: #FFF;
    padding: 20px;
}

#menu-login h1 {
    display: inline;
    text-align: center;

}

#menu-login ul {
    list-style: none;
    text-align: right;
    align-items: center;
}

#menu-login li {
    display: inline;
    
}

#menu-login a{
    color: #FFF;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}